
*{
    padding: 0;
    margin: 0;
}
.box{
  display: flex;
}

@media only screen and (max-width: 992px){

  .box li{
    display: none;
  }
  


}

@media only screen and (max-width: 768px){
  .box2  {
    display: none;
  }

}

@media only screen and (max-width: 548px){
  .box1  {
    display: inline;
  }

}
